@page "/topics"
<PageTitle>Topics</PageTitle>



<div class="mt-16 text-center">
   
    <div class="d-flex justify-content-end"><MudButton StartIcon="@Icons.Material.Filled.Add" Href="/add-topic" Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary">Add topic</MudButton></div>

    <TopicList />
</div>

