@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Clarity_Crate.Components
@inject NavigationManager Navigation



<PageTitle>Clarity Crate</PageTitle>

<MudThemeProvider Theme="_currentTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<style>
    .nav-link.active {
        color: #6A1B9A !important;
    }
</style>



<div>


    <main>
        @if(IsAdminPage)
        {
            <MudLayout>
                <MudAppBar Elevation="1">
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
                        OnClick="@ToggleDrawer" />
                    <MudSpacer />
                    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"
                        Href="https://github.com/MudBlazor/MudBlazor" Target="_blank" />
                </MudAppBar>

                <MudDrawer @bind-Open="@_openAdminDrawer" Elevation="1">
                    <MudDrawerHeader>
                        <MudText Typo="Typo.h6">Admin Dashboard</MudText>
                    </MudDrawerHeader>
                    <MudNavMenu>
                        <MudNavLink Href="/admin/terms" Match="NavLinkMatch.All">Terms</MudNavLink>
                        <MudNavLink Href="/admin/topics" Match="NavLinkMatch.All">Topics</MudNavLink>
                        <MudNavLink Href="/admin/subjects" Match="NavLinkMatch.All">Subjects</MudNavLink>
                        <MudNavLink Href="/admin/curriculums" Match="NavLinkMatch.All">Curriculums</MudNavLink>
                    </MudNavMenu>
                </MudDrawer>


                <MudMainContent Class="vh-100 page d-flex flex-column justify-content-between">

                    <MudContainer>
                        @Body
                    </MudContainer>

                    <MudContainer>
                        <Footer />
                    </MudContainer>

                </MudMainContent>
            </MudLayout>

        }
        else
        {
            <NavBar />

            <MudMainContent Class="vh-100 page d-flex flex-column justify-content-between">

                <MudContainer>
                    @Body
                </MudContainer>

                <MudContainer>
                    <Footer />
                </MudContainer>

            </MudMainContent>


        }

    </main>


</div>



@code {
    bool open = true;
    private bool _openAdminDrawer = false;

    DrawerClipMode clipMode = DrawerClipMode.Docked;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    //Is it an Identity page or not
    private bool isAccountManagePage => HttpContext is not null &&
    HttpContext.Request.Path.StartsWithSegments("/Account/Manage") ? true : false;


    //Is it an Admin page or not
    private bool IsAdminPage => Navigation.Uri != null &&
    Navigation.ToBaseRelativePath(Navigation.Uri).StartsWith("admin", StringComparison.OrdinalIgnoreCase);
    protected async override Task OnInitializedAsync()
    {

        //check to see f the use is logged in
        //var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        //var user = authState.User;



    }

    void ToggleDrawer()
    {
        _openAdminDrawer = !_openAdminDrawer;
    }




    private readonly MudTheme _currentTheme = new()
    {
        /*
        Palette = new PaletteLight
        {

        Primary = "#007bff", // Blue
        Secondary = "#6c757d", // Gray
        Info = "#17a2b8", // Cyan
        Success = "#28a745", // Green
        Warning = "#ffc107", // Yellow
        Error = "#dc3545", // Red
        AppbarBackground = "#212121", // Dark gray
        TextPrimary = "#212529", // Dark gray
        TextSecondary = "#6c757d", // Gray
        },
        Typography = new Typography()
        {
        Default = new Default()
        {
        FontFamily = new[] { "Poppins", "Helvetica", "Arial", "sans-serif" }
        }
        }
        */
    };
}