@page "/Account/Manage"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using Clarity_Crate.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

<PageTitle>Profile</PageTitle>

<!-- Main Container -->
<div class="container">
    <!-- Change Email Section -->
    <section id="emailSection" class="mb-5">
        <Email/>
    </section>

    <!-- Change Password Section -->
    <section id="passwordSection" class="mb-5">
       
       
    </section>

    <!-- Delete Profile Section -->
    <section id="deleteSection">
        <h2>Delete Profile</h2>
        <form id="deleteForm">
            <div class="mb-3">
                <label for="confirmDelete" class="form-label">Type "DELETE" to confirm</label>
                <input type="text" class="form-control" id="confirmDelete" placeholder='Type "DELETE"' required>
            </div>
            <button type="submit" class="btn btn-danger">Delete Profile</button>
        </form>
    </section>
</div>