<section class="mt-15">
    <!-- Footer -->
    <footer>
       
        <!-- Copyright -->
        <div class="text-start">
            © 2024 Copyright:
            <a href="https://mdbootstrap.com/">Clarity Crate</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>