<style>
    .secondary-colored-text {
        color: #EF6C00;
    }
    .bg-danger {
        background-color: #EF6C00 !important;
    }

    .bg-secondary {
        background-color: #00897B !important;
    }
</style>

<!--Hero Section Start-->
<section style="background-image: url('img/b5.png'); background-repeat: no-repeat; background-size: cover; background-position: center;">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6 pt-5 mt-5 text-light">
                <h2 class="display-1 ls-1">
                    <span class="fw-bold secondary-colored-text">Simplify</span> Your Reading with <span class="fw-bold">Clarity Crate</span>
                </h2>
                <p class="fs-4">
                    Summarize lengthy documents in seconds. Save time, stay informed, and focus on what truly matters.
                </p>
                <div class="d-flex gap-3">
                    <MudButton Href="/summarizer" Class="mt-3" Variant="Variant.Filled" Style="background-color: #00897B; color: white; width: 8rem; height: 3rem;">
                        Try Now
                    </MudButton>
                    <MudButton Href="/summarizer" Class="mt-3" Variant="Variant.Filled" Color="Color.Dark" Style="width: 8rem; height: 3rem;">
                        Read More
                    </MudButton>
                    
                </div>
                <div class="row my-5 text-light">
                    <div class="col">
                        <div class="row">
                            <div class="col-auto">
                                <p class="fs-1 fw-bold lh-sm mb-0">150k+</p>
                            </div>
                            <div class="col fw-bold">
                                <p class="text-uppercase lh-sm mb-0">Words Summarized</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-auto">
                                <p class="fs-1 fw-bold lh-sm mb-0">500+</p>
                            </div>
                            <div class="col fw-bold">
                                <p class="text-uppercase lh-sm mb-0">Pages Supported</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-auto">
                                <p class="fs-1 fw-bold lh-sm mb-0">3+</p>
                            </div>
                            <div class="col fw-bold">
                                <p class="text-uppercase lh-sm mb-0">Modes of Summarization</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-3 g-0 justify-content-center">
            <div class="col">
                <div class="card border-0 bg-secondary rounded-0 p-4 text-light">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <i class="fas fa-file-alt fa-3x"></i>
                        </div>
                        <div class="col-md-9">
                            <div class="card-body p-0">
                                <h5 class="text-light">Long Document Support</h5>
                                <p class="card-text">
                                    Quick summaries for up to 200,000 words or 1000 pages.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-dark rounded-0 p-4 text-light">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <i class="fas fa-cogs fa-3x"></i>
                        </div>
                        <div class="col-md-9">
                            <div class="card-body p-0">
                                <h5 class="text-light">Flexible Summarization</h5>
                                <p class="card-text">
                                    Select paragraph, bullet point, or custom summary styles.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0 bg-danger rounded-0 p-4 text-light">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <i class="fas fa-pen fa-3x"></i>
                        </div>
                        <div class="col-md-9">
                            <div class="card-body p-0">
                                <h5 class="text-light">OCR for Scanned PDFs</h5>
                                <p class="card-text">
                                    Extract and summarize scanned PDFs with ease.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Hero Section End-->