@using Clarity_Crate.Components.Layout
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-lg-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Clarity Crate
        </a>
        <MudIconButton Class="navbar-toggler" Icon="@@Icons.Material.Filled.Menu" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-label="Toggle navigation" aria-controls="navbarSupportedContent" aria-expanded="false"></MudIconButton>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-lg-2">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>

                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/definitions" Match="NavLinkMatch.All">Definitions</NavLink>
                </li>
            </ul>
            <LoginDisplay />
        </div>
    </div>
</nav>-->





<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>Clarity Crate</h2>
    </a>
    <MudIconButton type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </MudIconButton>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link active">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
            <a href="/definitions" class="nav-item nav-link">Definitions</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">My Learning</a>
                <div class="dropdown-menu fade-down m-0 mb-2">
                    <a href="definitions/favorites" class="dropdown-item">Favorites</a>
                    <a href="definitions/practice" class="dropdown-item">Practice Definition</a>
                    <a href="404.html" class="dropdown-item">Quiz</a>
                </div>
            </div>
           
            <div class="d-lg-flex align-items-lg-center pe-lg-2">
                <LoginDisplay />
            </div>
        </div>
        
    </div>
</nav>
<!-- Navbar End -->