@using Clarity_Crate.Components.Layout

<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-lg-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Clarity Crate</a>
            <MudIconButton Class="navbar-toggler" Icon="@Icons.Material.Filled.Menu" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-label="Toggle navigation" aria-controls="navbarSupportedContent" aria-expanded="false"></MudIconButton>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>

                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/definitions" Match="NavLinkMatch.All">Definitions</NavLink>
                    </li>   
                </ul>
                <LoginDisplay />
            </div>
        </div>
    </nav>