@using Clarity_Crate.Components.Layout

<style>
   
    .app-brand {
        
    }


</style>







<link href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" rel="stylesheet">
<!-- Navbar Desktop Start -->
<nav class="navbar d-none d-lg-flex navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 app-brand"><i class="fa fa-magic me-2"></i>Clarity Crate</h2>
    </a>
    <MudIconButton type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </MudIconButton>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-link" href="/summarizer" Match="NavLinkMatch.All">Summarizer</NavLink>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tools</a>
                <div class="dropdown-menu fade-down m-0 mb-2">
                    <a href="/" class="dropdown-item">Paraphraser</a>
                    <a href="/" class="dropdown-item">PDF Chat</a>
                    <a href="/" class="dropdown-item">Summarizer</a>
                    <a href="definitions" class="dropdown-item">Science Definitions</a>
                </div>
            </div>

            <NavLink class="nav-link" href="/contact" Match="NavLinkMatch.All">Contact</NavLink>

            <div class="d-lg-flex align-items-lg-center pe-lg-2">
                <LoginDisplay />
            </div>
        </div>

    </div>
</nav>
<!-- Navbar Desktop End -->





<!-- Navbar Mobile Start -->
<nav class="navbar d-flex d-lg-none navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 app-brand"><i class="fa fa-magic me-2"></i>Clarity Crate</h2>
    </a>
    <MudIconButton type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </MudIconButton>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All"><span data-bs-target="#navbarCollapse" data-bs-toggle="collapse">Home</span></NavLink>
            <NavLink class="nav-link" href="/summarizer" Match="NavLinkMatch.All"><span data-bs-target="#navbarCollapse" data-bs-toggle="collapse">Summarizer</span></NavLink>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tools</a>
                <div class="dropdown-menu fade-down m-0 mb-2">
                    <a href="/" class="dropdown-item"><span data-bs-target="#navbarCollapse" data-bs-toggle="collapse">Paraphraser</span></a>
                    <a href="/" class="dropdown-item"><span data-bs-target="#navbarCollapse" data-bs-toggle="collapse">PDF Chat</span></a>
                    <a href="/" class="dropdown-item"><span data-bs-target="#navbarCollapse" data-bs-toggle="collapse">Summarizer</span></a>
                    <a href="definitions" class="dropdown-item"><span data-bs-target="#navbarCollapse" data-bs-toggle="collapse">Science Definitions</span></a>
                </div>
            </div>

            <NavLink class="nav-link" href="/contact" Match="NavLinkMatch.All"><span data-bs-target="#navbarCollapse" data-bs-toggle="collapse">Contact</span></NavLink>

            <div class="d-lg-flex align-items-lg-center pe-lg-2">
                <LoginDisplay />
            </div>
        </div>

    </div>
</nav>
<!-- Navbar Mobile End -->


