@page "/summarizer"
@using Clarity_Crate.Services
@using Clarity_Crate.Models
@using Clarity_Crate.Components.Pages.Flashcards
<PageTitle>Summarizer</PageTitle>
@inject NavigationManager NavigationManager
@inject CurriculumService CurriculumService
@inject SubjectService SubjectService
@inject TopicService TopicService
@inject LevelService LevelService
@inject TermService TermService


<style>
    .summarizer {
          height: 28.3rem;
    }
</style>

<div class="w-100">
    <div>
        <MudTabs Class="summarizer" ActivePanelIndex="1" HideSlider="true" Border="true" Elevation="2" Rounded="true"
            ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Disabled="true">
                <TabContent>
                    <MudText Class="grey-text text-darken-4">Modes:</MudText>
                </TabContent>

            </MudTabPanel>
            <MudTabPanel>
                <ChildContent >
                  <SummaryItem ShowSlider="true" Mode="paragraph"/>
                </ChildContent>
                <TabWrapperContent>
                    <MudTooltip Text="Summarizes the content in a single cohesive paragraph.">
                        @context
                    </MudTooltip>
                </TabWrapperContent>
                <TabContent>
                    <MudText>Paragraph</MudText>    
                </TabContent>

            </MudTabPanel>
            <MudTabPanel>
                <ChildContent>
                    <SummaryItem ShowSlider="false" Mode="bullet" />
                </ChildContent>
                <TabWrapperContent>
                    <MudTooltip
                        Text="Summarizes the content in a list format, with each point highlighting a key idea.">
                        @context
                    </MudTooltip>
                </TabWrapperContent>
                <TabContent>
                    <MudText class="">Bullet Points</MudText>
                </TabContent>

            </MudTabPanel>
            <MudTabPanel>
                <ChildContent>
                    <SummaryItem ShowSlider="false" Mode="custom" />
                </ChildContent>
                <TabWrapperContent>
                    <MudTooltip Text="Enter specific custom instructions on how you want the text to be summarized.">
                        @context
                    </MudTooltip>
                </TabWrapperContent>
                <TabContent>
                    <MudText class="">Custom</MudText>
                </TabContent>
            </MudTabPanel>
            

        </MudTabs>
    </div>
</div>
<div class="container-fluid">

</div>


@code {
    
}

