@page "/"


<!-- Hero Section -->
<section class="text-center mt-15">
   
    <div class="text-center hero-text p-4">
        <h2>Welcome to the Science Definitions Learning Tool</h2>
        <p>Master the art of defining science terms with accuracy and confidence.</p>
        <MudButton Href="/definitions"
                  
                   Variant="Variant.Filled"
                  
                   Color="Color.Primary"
                   >
            Start learning
        </MudButton>
    </div>
</section>

<!-- Benefits Section -->
<section class="benefits-section my-5">
    <h3 class="text-center">Why Use Our Application?</h3>
    <div class="row">
        <div class="col-md-4 text-center">
            <i class="fa fa-book fa-3x"></i>
            <h4>Comprehensive Definitions</h4>
            <p>Access accurate and curriculum-specific definitions for various science terms.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-graduation-cap fa-3x"></i>
            <h4>Practice and Improve</h4>
            <p>Test your knowledge and improve your skills with our practice exercises.</p>
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-user fa-3x"></i>
            <h4>User-Friendly Interface</h4>
            <p>Enjoy a seamless and engaging learning experience with our easy-to-use application.</p>
        </div>
    </div>
</section>




<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    Link with href
</a>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    Button with data-bs-target
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <MudDrawer @bind-Open="@_openAdminDrawer" Elevation="1">
            <MudDrawerHeader>
                <MudText Typo="Typo.h6">Admin Panel</MudText>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Href="/terms" Match="NavLinkMatch.All">Terms</MudNavLink>
                <MudNavLink Href="/topics" Match="NavLinkMatch.All">Topics</MudNavLink>
                <MudNavLink Href="/subjects" Match="NavLinkMatch.All">Subjects</MudNavLink>
                <MudNavLink Href="/curriculums" Match="NavLinkMatch.All">Curriculums</MudNavLink>
            </MudNavMenu>
        </MudDrawer>
    </div>
</div>


@code{
    private bool _openAdminDrawer=true;
}
