@page "/subjects"
<PageTitle>Subjects</PageTitle>



<div class="mt-16 text-center">
    

    <div class="d-flex justify-content-end"><MudButton StartIcon="@Icons.Material.Filled.Add" Href="/add-subject" Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary">Add subject</MudButton></div>

    <SubjectList />
</div>

