@page "/Account/ConfirmEmail"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Clarity_Crate.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm email</PageTitle>


<div class="mt-5 container py-5">
    <MudCard Elevation="2" Style="max-width: 500px;" Class="py-4 m-auto">
        <MudCardContent Class="text-center">
           
            <h2 class="card-title mb-5">Confirm your email</h2>
            @if (isSuccess)
            {

                <MudAlert Severity="Severity.Success" Variant="Variant.Outlined">@statusMessage</MudAlert>


            }
            else
            {
                <MudAlert Severity="Severity.Error" Variant="Variant.Outlined">@statusMessage</MudAlert>
            }
        </MudCardContent>
        <MudCardActions class="d-flex justify-content-center">
            
        </MudCardActions>
    </MudCard>
</div>



@code {
    private string? statusMessage;
    private bool isSuccess = false;


    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = $"Error loading user with ID {UserId}";
            isSuccess=false;
        }
        else
        {
            var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            isSuccess = result.Succeeded ? true : false;
            statusMessage = result.Succeeded ? "Thank you for confirming your email. Login using your email to access your account." : "Error confirming your email.";
        }
    }
}
