@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>


<div class="mt-15 container py-5">
    <MudCard Style="max-width: 500px;" Class="py-4 m-auto">
        <MudCardContent Class="text-center">
            <MudIcon Class="mb-4" Icon="fas fa-envelope-open-text fa-5x" Style="@($"color:{Colors.Purple.Darken3};")" />
            <h2 class="card-title">Password Reset Link Sent</h2>
            <p class="card-text">A password reset link has been sent to your email address.</p>
            <p class="card-text">Please check your inbox and follow the instructions to reset your password.</p>
        </MudCardContent>
        <MudCardActions class="d-flex justify-content-center">
            <MudButton Href="/" Variant="Variant.Filled" Color="Color.Dark">Go to Home Page</MudButton>
        </MudCardActions>
    </MudCard>
</div>