@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>


<div class="container py-5">
    <MudCard Elevation="0" Style="max-width: 32rem;" Class="py-4 m-auto">
        <MudCardContent Class="text-center">

            <h2 class="card-title mb-5">Reset password confirmation</h2>


            <MudAlert Severity="Severity.Success" Variant="Variant.Filled">Your password has been successfully reset. You can now log in using your new password.</MudAlert>

     
        </MudCardContent>
       
    </MudCard>
</div>

