@page "/admin/curriculums"
@using Clarity_Crate.Services
@using Clarity_Crate.Models
@inject CurriculumService CurriculumService
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
<PageTitle>Curriculums</PageTitle>


<div class="mt-16 text-center">
    <h1 class="display-5">Curriculums</h1>

    <div class="d-flex justify-content-end"><MudButton StartIcon="@Icons.Material.Filled.Add" Href="/admin/add-curriculum" Variant="Variant.Filled" DisableElevation="true" Color="Color.Dark">Add curriculum</MudButton></div>

    <CurriculumList />
</div>




@code {





    //get all the curriculums when the component is initialized
    //using the CurriculumService
    protected override async Task OnInitializedAsync()
    {

    }



}
